.container-grid{
  margin-top: 100px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  row-gap: 90px;
}

@media only screen and (max-width: 375px) {
    .container-grid{
      grid-template-columns: 1fr;
      margin-left: auto;
      margin-right: auto;
    }
}

.grid-1{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  text-align: center;
}

.grid-img{
  margin-bottom: 20px;
}

.grid-title{
  margin-bottom: 20px;
}

.grid-txt{
  display: block;
  width: 100%;
  max-width: 350px;
  margin-left: auto;
  margin-right: auto;
}